:root {
  /* alternating background */
    --ay-primary-color: rgba(1, 39, 63, 1);
    /* light text */
    --ay-secondary-color: rgb(242, 172, 87, 1);
    /* button highlight */
    --ay-highlight-color: rgba(242, 206, 193, 1);
    /* body, button text & textnav, footer bg */
    --ay-dark-color: rgb(1, 39, 63, 1);
    /* dark text & button borders */
    --ay-offblack: rgb(37,37,37,1);
    /* button background, alternating background */
    --ay-offwhite: rgb(240, 240, 240);
    /* button background, alternating background */
    --ay-light-color: rgb(63, 110, 140, 1);
    /* social icon, navbar toggle glow */
    --ay-nav-toggler-glow: rgba(173, 212, 216, 1);
  
    --ay-title-font: "Bebas Neue", Impact, Haettenschweiler, "Arial Narrow Bold",
      sans-serif;
    --ay-subtitle-font: "Fira Sans", Arial, Helvetica, sans-serif;
    --ay-body-font: "Roboto", Arial, Helvetica, sans-serif;
  
    --ay-font-size: 1.2rem;
    --ay-font-weight: 400;
  }

/* :root {
  --ay-primary-color: #001e43;
  --ay-secondary-color: rgb(255, 155, 61);
  --ay-dark-color: rgb(35, 35, 35);
  --ay-light-color: rgb(235, 235, 235);

  --ay-navbar-toggler-glow: rgba(255, 155, 61, 0.7);
  --ay-navbar-toggler-color: rgb(255, 155, 61);
  --ay-highlight-color: rgb(245, 245, 105);
} */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--ay-light-color);
  backdrop-filter: brightness(100%);
}

.content {
  flex: 1 0 auto;
  margin-top: 6rem;
}

footer {
  flex-shrink: 0;
}

.footer {
  background: var(--ay-primary-color);
  color: var(--ay-offwhite);
}

#mainNav {
  background: var(--ay-primary-color);
}

#mainNav button {
  border-color: var(--ay-secondary-color);
}

.navbar-toggler {
  color: var(--ay-navbar-toggler-glow);
}

.navbar-toggler-icon-ay {
  color: var(--ay-navbar-toggler-color);
  font-size: 1.5rem;
}

.titleText{
  font-size: 3rem;
  color: var(--ay-offblack);
  font-family: var(--ay-title-font);
}

.subtitleText{
  color: var(--ay-offwhite);
  font-family: var(--ay-subtitle-font);
}

.bodyText{
  color: var(--ay-offblack);
  font-family: var(--ay-body-font);
}

.socialIcon {
  font-size: 1.75rem;
  color: var(--ay-offwhite);
  letter-spacing: 0.75rem;
}

.socialIcon:hover {
  color: var(--ay-nav-toggler-glow);
}

.devIcon {
  font-size: 2rem;
  padding-right: 0.5rem;
}

.appLogo {
  max-width: 350px;
}

.checkList {
  list-style-type: none;
}

.checkList > li i {
  color: var(--ay-secondary-color);
  padding-right: 0.5rem;
}
